.footer {
    height: 6%;
    background-color: black;
    justify-content: center;
    position: fixed;
    bottom: 0;
}

h3 {
    font-size: 0.9rem;
    padding-left: 20px;
    display: flex;
    color: white;
}