img {
    height: 2rem;
}

.header {
    height: 8%;
    background-color: purple;
    justify-content: left;
}

span {
    display: flex;
    color: red;
    padding: 5px;
}

h2 {
    font-size: 1.7rem;
    padding-left: 20px;
}